In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
AirBnB = pd.read_csv('../data/Listings_cleaned.csv', dtype={'host_response_time':object, 'host_response_rate':np.float64})

In [3]:
AirBnB = AirBnB.drop(columns='Unnamed: 0')

In [4]:
AirBnB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279368 entries, 0 to 279367
Data columns (total 47 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   listing_id                   279368 non-null  int64
 1   name                         279196 non-null  object
 2   host_id                      279368 non-null  int64
 3   host_since                   279203 non-null  object
 4   host_location                278530 non-null  object
 5   host_response_time           150749 non-null  object
 6   host_response_rate           150749 non-null  float64
 7   host_acceptance_rate         166443 non-null  float64
 8   host_is_superhost            279203 non-null  object
 9   host_total_listings_count    279203 non-null  float64
 10  host_has_profile_pic         279203 non-null  object
 11  host_identity_verified       279203 non-null  object
 12  neighbourhood                279368 non-null  object
 13  city                         279368 non-null  object
 14  latitude                     279368 non-null  float64
 15  longitude                    279368 non-null  float64
 16  property_type                279368 non-null  object
 17  room_type                    279368 non-null  object
 18  accommodates                 279368 non-null  int64
 19  bedrooms                     250069 non-null  float64
 20  price                        279368 non-null  int64
 21  minimum_nights               279368 non-null  int64
 22  maximum_nights               279368 non-null  int64
 23  review_scores_rating         188240 non-null  float64
 24  review_scores_accuracy       187933 non-null  float64
 25  review_scores_cleanliness    187981 non-null  float64
 26  review_scores_checkin        187875 non-null  float64
 27  review_scores_communication  187959 non-null  float64
 28  review_scores_location       187871 non-null  float64
 29  review_scores_value          187861 non-null  float64
 30  instant_bookable             279368 non-null  object
 31  number_of_amenities          279368 non-null  int64
 32  heating                      279368 non-null  bool
 33  kitchen                      279368 non-null  bool
 34  wifi                         279368 non-null  bool
 35  washer                       279368 non-null  bool
 36  dryer                        279368 non-null  bool
 37  tv                           279368 non-null  bool
 38  pool                         279368 non-null  bool
 39  hot water                    279368 non-null  bool
 40  hot tub                      279368 non-null  bool
 41  bed linens                   279368 non-null  bool
 42  gym                          279368 non-null  bool
 43  waterfront                   279368 non-null  bool
 44  beachfront                   279368 non-null  bool
 45  hdtv                         279368 non-null  bool
 46  parking                      279368 non-null  bool
dtypes: bool(15), float64(13), int64(7), object(12)
memory usage: 72.2+ MB

In [5]:
AirBnB.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,tv,pool,hot water,hot tub,bed linens,gym,waterfront,beachfront,hdtv,parking
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,False,False,False,False,False,False,False,False,False,False
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,False,False,False,False,False,False,False,False,False,False
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,True,False,False,False,False,False,False,False,False,False
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,True,False,False,False,False,False,False,False,False,False
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,True,False,False,False,False,False,False,False,False,False

In [6]:
city_summary = pd.read_csv('../data/Cities_Summary.csv')

In [7]:
city_summary = city_summary.drop(columns='Unnamed: 0')

In [8]:
city_summary

,city,listings_per_city,city_total_bedrooms,city_total_amenities,city_total_accommodates,city_avg_review_scores_rating
0,Bangkok,19280,23621.0,370527,61468,92.996950
1,Cape Town,19022,35425.0,449106,73504,94.402771
2,Hong Kong,7085,7669.0,107241,19862,89.704792
3,Istanbul,24495,34068.0,480734,78616,91.069328
4,Mexico City,20037,28858.0,413813,61028,94.835728
5,New York,36984,43973.0,756268,103491,93.767188
6,Paris,64628,70222.0,1135617,196508,93.063931
7,Rio de Janeiro,26566,42368.0,475827,110533,94.576457
8,Rome,27641,39971.0,591228,103456,93.516489
9,Sydney,33630,52402.0,682659,109869,93.234135

In [9]:
city_summary['bedrooms_per_listing'] = city_summary.city_total_bedrooms / city_summary.listings_per_city
city_summary['amenities_per_listing'] = city_summary.city_total_amenities / city_summary.listings_per_city
city_summary['accommodates_per_listing'] = city_summary.city_total_accommodates / city_summary.listings_per_city

In [10]:
#make the city column the new index
city_summary_newind = city_summary.set_index('city')

In [11]:
city_summary_newind

,listings_per_city,city_total_bedrooms,city_total_amenities,city_total_accommodates,city_avg_review_scores_rating,bedrooms_per_listing,amenities_per_listing,accommodates_per_listing
city,,,,,,,,
Bangkok,19280,23621.0,370527,61468,92.996950,1.225156,19.218205,3.188174
Cape Town,19022,35425.0,449106,73504,94.402771,1.862317,23.609820,3.864157
Hong Kong,7085,7669.0,107241,19862,89.704792,1.082428,15.136344,2.803387
Istanbul,24495,34068.0,480734,78616,91.069328,1.390814,19.625801,3.209471
Mexico City,20037,28858.0,413813,61028,94.835728,1.440236,20.652443,3.045765
New York,36984,43973.0,756268,103491,93.767188,1.188974,20.448518,2.798264
Paris,64628,70222.0,1135617,196508,93.063931,1.086557,17.571594,3.040602
Rio de Janeiro,26566,42368.0,475827,110533,94.576457,1.594820,17.911127,4.160694
Rome,27641,39971.0,591228,103456,93.516489,1.446076,21.389530,3.742846
Sydney,33630,52402.0,682659,109869,93.234135,1.558192,20.299108,3.266994

In [12]:
city_summary_newind.bedrooms_per_listing.sort_values(ascending=False)

city
Cape Town         1.862317
Rio de Janeiro    1.594820
Sydney            1.558192
Rome              1.446076
Mexico City       1.440236
Istanbul          1.390814
Bangkok           1.225156
New York          1.188974
Paris             1.086557
Hong Kong         1.082428
Name: bedrooms_per_listing, dtype: float64

In [13]:
city_summary_newind.accommodates_per_listing.sort_values(ascending=False)

city
Rio de Janeiro    4.160694
Cape Town         3.864157
Rome              3.742846
Sydney            3.266994
Istanbul          3.209471
Bangkok           3.188174
Mexico City       3.045765
Paris             3.040602
Hong Kong         2.803387
New York          2.798264
Name: accommodates_per_listing, dtype: float64

In [14]:
city_summary_newind.amenities_per_listing.sort_values(ascending=False)

city
Cape Town         23.609820
Rome              21.389530
Mexico City       20.652443
New York          20.448518
Sydney            20.299108
Istanbul          19.625801
Bangkok           19.218205
Rio de Janeiro    17.911127
Paris             17.571594
Hong Kong         15.136344
Name: amenities_per_listing, dtype: float64

In [15]:
city_summary_newind.city_avg_review_scores_rating.sort_values(ascending=False)

city
Mexico City       94.835728
Rio de Janeiro    94.576457
Cape Town         94.402771
New York          93.767188
Rome              93.516489
Sydney            93.234135
Paris             93.063931
Bangkok           92.996950
Istanbul          91.069328
Hong Kong         89.704792
Name: city_avg_review_scores_rating, dtype: float64

In [16]:
#creating a dictionary to hold the population and area in square miles for each city
pop_and_area_dict = {0 : ['Bangkok', 10690000, 602], 1 : ['Cape Town', 4618000, 944], 2 : ['Hong Kong', 7413000, 430], 
                     3 : ['Istanbul', 15460000, 2063], 4 : ['Mexico City', 8855000, 573], 5 : ['New York', 8468000, 302.6], 
                     6 : ['Paris', 2161000, 40.7], 7 : ['Rio de Janeiro', 6748000, 463], 8 : ['Rome', 2873000, 496], 
                     9 : ['Sydney', 5312000, 4775]}

In [17]:
#turning the dictionary into a dataframe
pop_and_area_df = pd.DataFrame.from_dict(pop_and_area_dict, orient='index', columns=['city','population', 'area_sq_mi'])

In [18]:
pop_and_area_df

             city  population  area_sq_mi
0         Bangkok    10690000       602.0
1       Cape Town     4618000       944.0
2       Hong Kong     7413000       430.0
3        Istanbul    15460000      2063.0
4     Mexico City     8855000       573.0
5        New York     8468000       302.6
6           Paris     2161000        40.7
7  Rio de Janeiro     6748000       463.0
8            Rome     2873000       496.0
9          Sydney     5312000      4775.0

In [19]:
#number of listings per 100 people in the city. The 100 scaling is from eyeballing the magnitudes 
city_summary['listings_per_capita'] = city_summary.listings_per_city / pop_and_area_df.population

In [20]:
city_summary['listings_per_sq_mile'] = city_summary.listings_per_city / pop_and_area_df.area_sq_mi

In [21]:
city_summary.T

,0,1,2,3,4,5,6,7,8,9
city,Bangkok,Cape Town,Hong Kong,Istanbul,Mexico City,New York,Paris,Rio de Janeiro,Rome,Sydney
listings_per_city,19280,19022,7085,24495,20037,36984,64628,26566,27641,33630
city_total_bedrooms,23621.0,35425.0,7669.0,34068.0,28858.0,43973.0,70222.0,42368.0,39971.0,52402.0
city_total_amenities,370527,449106,107241,480734,413813,756268,1135617,475827,591228,682659
city_total_accommodates,61468,73504,19862,78616,61028,103491,196508,110533,103456,109869
city_avg_review_scores_rating,92.99695,94.402771,89.704792,91.069328,94.835728,93.767188,93.063931,94.576457,93.516489,93.234135
bedrooms_per_listing,1.225156,1.862317,1.082428,1.390814,1.440236,1.188974,1.086557,1.59482,1.446076,1.558192
amenities_per_listing,19.218205,23.60982,15.136344,19.625801,20.652443,20.448518,17.571594,17.911127,21.38953,20.299108
accommodates_per_listing,3.188174,3.864157,2.803387,3.209471,3.045765,2.798264,3.040602,4.160694,3.742846,3.266994
listings_per_capita,0.001804,0.004119,0.000956,0.001584,0.002263,0.004368,0.029907,0.003937,0.009621,0.006331
listings_per_sq_mile,32.026578,20.150424,16.476744,11.873485,34.968586,122.220753,1587.911548,57.37797,55.727823,7.042932

In [22]:
city_summary

,city,listings_per_city,city_total_bedrooms,city_total_amenities,city_total_accommodates,city_avg_review_scores_rating,bedrooms_per_listing,amenities_per_listing,accommodates_per_listing,listings_per_capita,listings_per_sq_mile
0,Bangkok,19280,23621.0,370527,61468,92.996950,1.225156,19.218205,3.188174,0.001804,32.026578
1,Cape Town,19022,35425.0,449106,73504,94.402771,1.862317,23.609820,3.864157,0.004119,20.150424
2,Hong Kong,7085,7669.0,107241,19862,89.704792,1.082428,15.136344,2.803387,0.000956,16.476744
3,Istanbul,24495,34068.0,480734,78616,91.069328,1.390814,19.625801,3.209471,0.001584,11.873485
4,Mexico City,20037,28858.0,413813,61028,94.835728,1.440236,20.652443,3.045765,0.002263,34.968586
5,New York,36984,43973.0,756268,103491,93.767188,1.188974,20.448518,2.798264,0.004368,122.220753
6,Paris,64628,70222.0,1135617,196508,93.063931,1.086557,17.571594,3.040602,0.029907,1587.911548
7,Rio de Janeiro,26566,42368.0,475827,110533,94.576457,1.594820,17.911127,4.160694,0.003937,57.377970
8,Rome,27641,39971.0,591228,103456,93.516489,1.446076,21.389530,3.742846,0.009621,55.727823
9,Sydney,33630,52402.0,682659,109869,93.234135,1.558192,20.299108,3.266994,0.006331,7.042932