In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
AirBnB = pd.read_csv('../data/Listings_cleaned.csv')

In [17]:
AirBnB = AirBnB.drop(columns='Unnamed: 0')

In [18]:
AirBnB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279368 entries, 0 to 279367
Data columns (total 47 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   listing_id                   279368 non-null  int64
 1   name                         279196 non-null  object
 2   host_id                      279368 non-null  int64
 3   host_since                   279203 non-null  object
 4   host_location                278530 non-null  object
 5   host_response_time           150749 non-null  object
 6   host_response_rate           150749 non-null  float64
 7   host_acceptance_rate         166443 non-null  float64
 8   host_is_superhost            279203 non-null  object
 9   host_total_listings_count    279203 non-null  float64
 10  host_has_profile_pic         279203 non-null  object
 11  host_identity_verified       279203 non-null  object
 12  neighbourhood                279368 non-null  object
 13  city                         279368 non-null  object
 14  latitude                     279368 non-null  float64
 15  longitude                    279368 non-null  float64
 16  property_type                279368 non-null  object
 17  room_type                    279368 non-null  object
 18  accommodates                 279368 non-null  int64
 19  bedrooms                     250069 non-null  float64
 20  price                        279368 non-null  int64
 21  minimum_nights               279368 non-null  int64
 22  maximum_nights               279368 non-null  int64
 23  review_scores_rating         188240 non-null  float64
 24  review_scores_accuracy       187933 non-null  float64
 25  review_scores_cleanliness    187981 non-null  float64
 26  review_scores_checkin        187875 non-null  float64
 27  review_scores_communication  187959 non-null  float64
 28  review_scores_location       187871 non-null  float64
 29  review_scores_value          187861 non-null  float64
 30  instant_bookable             279368 non-null  object
 31  number_of_amenities          279368 non-null  int64
 32  Heating                      279368 non-null  bool
 33  Kitchen                      279368 non-null  bool
 34  Wifi                         279368 non-null  bool
 35  Washer                       279368 non-null  bool
 36  Dryer                        279368 non-null  bool
 37  TV                           279368 non-null  bool
 38  Pool                         279368 non-null  bool
 39  Hot water                    279368 non-null  bool
 40  Hot tub                      279368 non-null  bool
 41  Bed linens                   279368 non-null  bool
 42  Gym                          279368 non-null  bool
 43  Waterfront                   279368 non-null  bool
 44  Beachfront                   279368 non-null  bool
 45  HDTV                         279368 non-null  bool
 46  Parking                      279368 non-null  bool
dtypes: bool(15), float64(13), int64(7), object(12)
memory usage: 72.2+ MB

In [21]:
AirBnB.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,TV,Pool,Hot water,Hot tub,Bed linens,Gym,Waterfront,Beachfront,HDTV,Parking
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,False,False,False,False,False,False,False,False,False,False
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,False,False,False,False,False,False,False,False,False,False
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,True,False,False,False,False,False,False,False,False,False
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,True,False,False,False,False,False,False,False,False,False
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,True,False,False,False,False,False,False,False,False,False